:root {
  --primarycolor: #6344C6;
  --secondarycolor: #404040;
  --thirdcolor: #626262;
  --whitecolor: #fff;
  --footercolor: #EEEBF2;
  --darkcolor: #313131;
  --fontfamily: "DM Sans", sans-serif;
}

*{
  margin: 0;
  padding: 0;
  outline: 0;
}

ol, ul{
  list-style-type: none;
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}

a{
  text-decoration: none;
}

p {
  margin-bottom: 0 !important;
}

body {
  overflow-x: hidden;
}


/* -------------primary css end-------------- */


/* bootstrap css */
@import 'bootstrap/dist/css/bootstrap.min.css';

/* reuseable component css */
@import '../../../public/assets/allcss/container.css';
@import '../../../public/assets/allcss/button.css';

/* reuseable responsive component css */
@import"../../../public/assets/responsivecss/buttonres.css";

/* website element css */
@import"../../../public/assets/allcss/navbar.css";
@import"../../../public/assets/allcss/hero.css";
@import"../../../public/assets/allcss/footer.css";
@import"../../../public/assets/allcss/services.css";
@import"../../../public/assets/allcss/project.css";
@import"../../../public/assets/allcss/careers.css";
@import"../../../public/assets/allcss/blog.css";
@import"../../../public/assets/allcss/partners.css";
@import"../../../public/assets/allcss/subscribe.css";

/* responsive css */
@import"../../../public/assets/responsivecss/navres.css";
@import"../../../public/assets/responsivecss/herores.css";
@import"../../../public/assets/responsivecss/serviceres.css";
@import"../../../public/assets/responsivecss/projectres.css";
@import"../../../public/assets/responsivecss/careersres.css";
@import"../../../public/assets/responsivecss/blogres.css";
@import"../../../public/assets/responsivecss/partnerres.css";
@import"../../../public/assets/responsivecss/subscriberes.css";
@import"../../../public/assets/responsivecss/footerres.css";

/* carousel css */
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";