 @media (min-width: 992px) and (max-width: 1199.98px) {
    .hero_left_text h1{
        width: 500px;
        font-family: "DM Sans", sans-serif;
        font-size: 52px;
        font-weight: 700;
        line-height: 70px;
        color: var(--secondarycolor);
    }

    .hero-img {
        width: 105%;
        height: 105%;
    }
 }

  @media (min-width: 768px) and (max-width: 991.98px) {
    .hero_part {
        margin: 100px 0;
    }

    .hero_elements {
        display: block;
    }

    .hero_left_text h1{
        width: 600px;
        font-size: 50px;
        line-height: 70px;
    }

    .hero_right {
        width: 100%;
        top: 50px;
    }

    .hero-img {
        width: 100%;
        height: 100%;
    }
 }

 @media (min-width: 576px) and (max-width: 767.98px) {
    .hero_part {
        margin: 100px 0;
    }

    .hero_elements {
        display: block;
    }

    .hero_left {
        width: 100%;
    }

    .hero_left_text h1{
        width: 450px;
        font-size: 30px;
        line-height: 45px;
    }

    .hero_left_text a {
        width: 100%;
    }

    .hero_left_text a span{
        margin-left: 0 !important;
    }

    .hero_right {
        width: 100%;
        top: 50px;
    }

    .hero-img {
        width: 100%;
        height: 100%;
    }
 }

 @media (min-width: 250px) and (max-width: 575.98px) {
    .hero_part {
        margin: 100px 0 0 0;
    }

    .hero_elements {
        display: block;
    }

    .hero_left {
        width: 100%;
    }

    .hero_left_text h1{
        width: 100%;
        font-size: 28px;
        line-height: 46px;
    }

    .hero_left_text p{
        margin-top: 20px;
        width: 100%;
        font-size: 14px;
    }

    .hero_left_text .hero_btn{
        padding: 10px 20px;
        font-size: 14px;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .hero_left_text a {
        margin-left: 10px;
        font-size: 14px;
        width: 100px !important;
    }

    .hero_left_text a span{
        margin-left: 0 !important;
    }

    .hero_left_text .left-icons {
        margin-top: 20px;
        justify-content: start;
    }

    .hero_left_text .left-icons span{
        font-size: 14px;
        margin-right: 0 !important;
        margin-top: 3px;
        width: 200px;
    }

    .hero_left_text .left-icons ul {
        display: flex;
        gap: 5px;
    }

    
    .hero_right {
        width: 100%;
        top: 50px;
    }

    .hero-img {
        width: 100%;
        height: 100%;
    }
 }